{% extends "hotelapp/base.html" %}

{% block main_content %}
<div class="container">
    <br><br>
    <h1>Goście</h1>

    {% for guest in guests %}
    <br>
    <div class="col-md-6">
        <h3>Gość</h3>
        <form method="post">
            {% csrf_token %}
            <hr>
            <input type="hidden" class="form-control" value="{{ guest.id }}" name="guest_id">
            <br>
            <div class="input-group-addon">Imię:</div>
            <input type="text" value="{{ guest.first_name }}" name="first_name">
            <br><br>
            <div class="input-group-addon">Nazwisko:</div>
            <input type="text" value="{{ guest.last_name }}" name="last_name">
            <br><br>
            <input type="email" value="{{ guest.email }}" name="email">
            <input type="phone" value="{{ guest.phone_number }}" name="phone_number">
            <input type="hidden" name="form_sent" value="1">
            <br><br>
            <a href="{% url 'hotelapp:manage_reservations' %}?guest_id={{ guest.id }}">Rezerwacje gościa</a>
            <br><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Zapisz gościa</button>
            <hr>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}